.dubVarDump {
	margin: 6px auto;
	max-width: 1200px;
	border-radius: 4px;
	background-color: #deffde;
	border: 1px solid #99ff99;
}

.dubVarDump p,
.dubVarDump pre {
	margin: 0;
	padding: 6px 12px;
}

.dubVarDump p {
	border-bottom: 1px solid #99ff99;
}

.dubVarDump pre {
	background-color: transparent;
	border: none;
	border-radius: 0;
}
